* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

html,
body {
  min-height: 100vh; 
  scroll-behavior:smooth; 
}

body {
    background: 
      linear-gradient(
        to top,
        hsl(202.98, 19.18%, 51.96%) 0%,
        hsl(203, 19.23%, 52.55%) 8.1%,
        hsl(203.05, 19.35%, 54.2%) 15.5%,
        hsl(203.15, 19.56%, 56.75%) 22.5%,
        hsl(203.28, 19.88%, 60.04%) 29%,
        hsl(203.47, 20.32%, 63.91%) 35.3%,
        hsl(203.71, 20.94%, 68.18%) 41.2%,
        hsl(204.02, 21.8%, 72.7%) 47.1%,
        hsl(204.43, 23.02%, 77.3%) 52.9%,
        hsl(204.95, 24.83%, 81.82%) 58.8%,
        hsl(205.63, 27.62%, 86.09%) 64.7%,
        hsl(206.49, 32.19%, 89.96%) 71%,
        hsl(207.52, 40.21%, 93.25%) 77.5%,
        hsl(208.64, 55.08%, 95.8%) 84.5%,
        hsl(209.6, 80.59%, 97.45%) 91.9%,
        hsl(210, 100%, 98.04%) 100%
      );
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
