.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 50px;
}

.tittle{
  padding-bottom: 50px;
}

.MatchContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
}

.MatchItem{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-content: center;
  align-items: center;
  gap: 10px;
}



/* Mobile */
@media (max-width: 768px) {

  .nav{
    gap: 20px;
  }

  .main {
    gap: 5px;    
  }

  .tittle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    padding-bottom: 20px;
  }

  .emptyMatchText{
    font-size: 1rem;
    padding-left: 0;
  }

  .h6Date{
  font-size: 1rem;
  padding-left: 1rem;
  }
  
  .h5Home,.h6Vs,.h5Away{
  font-size: 1rem;
  }
  
}
