.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  gap: 40px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 100px;
}

.tittle{
  padding-bottom: 30px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

.hourTittle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.emptyMatchText{
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  padding-left: 0;
  color:#000000
}

.MatchContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
}

.MatchItem{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-content: center;
  align-items: center;
  gap: 10px;
}





/* Mobile */
@media (max-width: 768px) {

  .nav{
    gap: 20px;
  }

  .main {
    gap: 5px;    
    
  }
  .MatchItem{
    gap: 5px;
  }

  .tittle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    padding-bottom: 2rem;
    color:#000000
  }

  .hourTittle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    color:#000000
  }

  .emptyMatchText{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding-left: 0;
    color:#000000
  }

  .h6Date{
  font-size: 1rem;
  padding-left: 0;
  color:#000000
  }
  
  .h5Home,.h6Vs,.h5Away{
  font-size: 1rem;
  color:#000000
  }
  
}
